
:root {
  --primary-color: #303030;
  --secondary-color: #505050;
  --accent-color: #00aaff;
  --light-color: #f0f0f0;
  --text-color: #ffffff;
  --button-bg-color: #00aaff;
  --button-text-color: #ffffff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background-color: var(--primary-color);
  color: var(--text-color);
}

.App {
  text-align: center; 
}

.App-header {
  background-color: var(--secondary-color);
  padding: 20px;
}

.App-header h1 {
  font-size: 2rem;
  color: var(--text-color);
}

.swap-component {
  margin: 20px auto;
  padding: 20px;
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
  background-color: var(--secondary-color);
  width: 90%;
  max-width: 800px; /* Increased max-width for better layout */
  color: var(--text-color);
  display: flex;
  justify-content: space-between; /* Ensure sections are horizontally aligned */
  gap: 20px; /* Add space between sections */
}

.swap-component h2 {
  margin-bottom: 20px;
  color: var(--accent-color);
  width: 100%; /* Ensure the heading takes full width */
}

.balance-section {
  background-color: var(--light-color);
  padding: 20px;
  border-radius: 10px;
  color: var(--primary-color);
  flex: 1; /* Allow sections to grow and take available space */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.balance-section p {
  margin-bottom: 10px;
}

input[type="number"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
}

.button-white {
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1rem;
}

.button-white:hover {
  background-color: var(--accent-color);
}

#container {
  width: 100vw;
  padding: 0px 30px 0px 80px;
  display: flex;
  justify-content: center;
  gap: 4.6rem;
}

.loader {
  height: 4px;

  width: 50;
  --c:no-repeat linear-gradient(#4873c2 0 0);
  background: var(--c),var(--c),#d7b8fc;
  background-size: 60% 100%;
  animation: l16 3s infinite;
}
@keyframes l16 {
  0%   {background-position:-150% 0,-150% 0}
  66%  {background-position: 250% 0,-150% 0}
  100% {background-position: 250% 0, 250% 0}
}

.input-style {
  background:#0e1d2b;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 10px;
  font-size: 16px;
  color: white;
}
/* Hide spinner arrows in WebKit browsers (Chrome, Safari) */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



/* Hide spinner arrows in Edge */
input[type="number"]::-ms-expand {
  display: none;
}